body {
	margin: 0;
	padding: 0;
	background-color:#F2EFE9;
font-family: 'Rajdhani', sans-serif;
}

hr {
	/* Horizontal rule styles */
	color: #333; /* Color of the rule */
	background-color: #564E58; /* Background color of the rule */
	height: 2px; /* Height or thickness of the rule */
	border: none; /* Remove any border */
	margin: 20px 0; /* Margin around the rule (top and bottom) */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	width: 60vw;
	margin: 20px auto;
	display: block;
  }

  .arrow-button {
	display: inline-block;
	justify-content: center;
	align-items:center;
	padding: 10px 20px 5px;
	background-color:rgba(255, 255, 255, 0);
	width: 20px;
	text-decoration: none;
	border-radius: 5px; 
	transition: background-color 0.3s;
	position: relative;
    top: 60em;
	right: 46em;
  }
  
  .arrow-button:hover {
	background-color: rgba(50, 50, 50, 0.976); 
  }
  
  .arrow-down:hover{
	border-top: 15px solid rgba(228, 228, 228, 0.922); 

  }
  
  .arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 15px solid rgb(39, 39, 39); 
  }


.company-description {
	display: flex;
	flex-direction: row;
	margin: 4em;  
  }
  
  .about-tree, .connection {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	text-align: left;
	margin: 4em;
    width: auto;
	padding: 3em;
	font-size: 1.5em;
	white-space: pre-line;
	align-items:center;
    background-color:#252627;
	color:#F2EFE9;
	box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.9);
	  /* border-radius:20px; */
  }

  .branch1, .branch2, .branch3, .branch4 {
	display: flex;
	padding: 1em;
	align-items: center;
  }

 /* Add space between text and images in .about-tree */
.about-tree img {
	border-radius: 10px;
	width: 360px;
	margin-bottom: 20px; /* Add margin to create space between image and text */
  }
  
  /* Add space between text and images in .branch1, .branch2, .branch3, .branch4 */
  .branch1 img,
  .branch2 img,
  .branch3 img,
  .branch4 img {
	border-radius: 10px;
	width: 135px;
	height: 100px;
	margin-right: 20px; /* Add margin to create space between image and text */
  }
  
  .newsletter {
	background-color:#252627;
	width: 700px;
	padding: 40px;
	text-align: center;
	box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.9);
	box-sizing: border-box;
	margin-left: 19em;
	margin-bottom: 4em;
  }
  
  h1 {
	  text-transform: uppercase;
	  font-size: 1.5em;
	  line-height: 10px;
  }
  
  .text {
	width: 100%;
	height: 70px;
	background-color: #F2EFE999;
	border-radius: 40px;
	position: relative;
	margin-top: 40px;
  }
  
	input {
	  width: 100%;
	  height: 70px;
	  border-radius: 40px;
	  border: 0;
	  background: none;
	  padding: 0 30px;
	  outline: none;
	  font-size: 15px;
	  
	}
	
	.btn {
	  background-color:rgba(231, 231, 231, 0.9);
	  border: 0;
	  width: 50px;
	  height: 50px;
	  border-radius: 50%;
	  position: absolute;
	  right: 10px;
	  top: 10px;
	  outline: none;
	  cursor: pointer;
	  color: #fff;
	  transition: .3s linear;
	}
  
	.btn:hover {
	  background-color:rgba(44, 44, 44, 0.9);
	}
	