@media screen and (max-width: 700px) {
	img {
	   width: 25px;
	   height: 25px;
	}
   
	.intro-row, .content-row, .media-container {
	   display: flex;
	   flex-direction: column;
	   justify-content: center;
	   align-items:center;
	   font-size: 1.2em;
	}
   
	.media-container img {
	   width: 300px;
	   height: 300px;
	}
   
	h1, h2, h3 {
	   font-size: 2em;
	}
   
	.arrow-button {
	 width: 80px;
	 height: 60px;
	 display: flex;
	 align-items:center;
	}
   
	.arrow-down {
	   border-top-width: 30px;
	   border-left-width: 15px; 
	   border-right-width: 15px; 
	 }
   
	 .first-day-events {
	   display: flex;
	   flex-direction: column;
	   width: 15em;
	   font-size: 1.5em;
	 }
   
	 h3 {
	   font-size:1.4em;
   }
   
   
   }