body{
	margin: 0;
	padding: 0;
font-family: 'Rajdhani', sans-serif;
background-color:#252627;
color:#F2EFE9;
}

hr {
	width: 60vw;
	margin: 20px auto;
	display: block;
	color: #333; /* Color of the rule */
	background-color: #817983b5; /* Background color of the rule */
	height: 2px; /* Height or thickness of the rule */
	border: none; /* Remove any border */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.tickets-container {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	margin: 4em;
	gap: 10px;
	text-align: left;
	font-size: 1.3em;
	align-items:start;
}

  .content {
    background-color: #252627;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.9);
    text-align: left;
	display: flex;
	flex-direction: column;
	height: 65vh;
}

.buttons {
	display: inline-block;
	align-items: center;
	gap: 10px;
    text-align: center;
  }

.remote h1,
.basic h1,
.premium h1 {
  text-align: center; 
}

.remote h2,
.basic h2,
.premium h2 {
  text-align: center; 
}

.remote-btn,
.basic-btn,
.premium-btn {
  background-color: #F2EFE9;
  border: none;
  border-radius: 20px;
  height: 50px;
  position: relative;
  font-size: 1em;
  box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.9);
  width: 100%;
  text-align: center;
}

.remote-btn:hover,
.basic-btn:hover,
.premium-btn:hover {
  cursor: pointer;
  background-color: #252627;
  color: #F2EFE9;
  border: 2px solid #F2EFE9;
}

.tickets-container h1, .tickets-container h2 {
	text-align: center;
}

.remote-btn:hover, .basic-btn:hover, .premium-btn:hover{
	cursor: pointer;
	background-color:#252627;
	color:#F2EFE9;
	border:2px solid #F2EFE9;
}

.basic-btn{
	margin-top: 3.9em;
}

.premium-btn {
	margin-top: 1.3em;
}

.sponsor-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin-top: 0;
   margin-left: 15em;
   margin-bottom: 8em;
    color:#F2EFE9;

}

.sponsors-title {
    grid-column: span 3; 
    text-align: center; 
	font-size: 2em;
	margin-right: 8em;
	
}

.overlay {
	width: 300px;
	height: 300px;
	border-radius: 10%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #2727279b;
}

.sponsor-profile {
position: relative;
}

.sponsor-profile img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 10%;
	position: relative;
	box-shadow: 0px 0px 20px rgba(169, 169, 169, 0.9);
	filter: brightness(75%);
}

.sponsor-profile:hover .overlay {
	opacity: 1;
	cursor: pointer;
}

.social-name {
	color:#F2EFE9;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}


.wrapper{
  background-color: #252627;
	border:2px solid #F2EFE9;
	padding-right: 1em;
	padding-left: 1em;
	width: 90%;
	height: 100vh;
	margin: 4em auto;
	padding-bottom: 0;
}


header{
	height: 64px;
	color:#F2EFE9;
	text-align: center;
	background: linear-gradient(to right, #ff9966, #ff5e62);
}

header h2{
	font-size: 1.8em;
	margin-top: 0;
	padding-top: 1em;
}

.info{
	text-align: center;
	padding: 2em;
	position: relative;
	bottom:5em;
}

.info h3, fieldset legend{
/* 	color: #444444; */
}

.info h3{
	margin-top: 0;
	padding-top: 0;
  font-size: 2.5em;
}

.info p{
	font-size: .85em;
	padding-bottom: 3em;
	margin-bottom: 2em;
}
h3 {
	text-decoration: underline solid #f2efe96b;
}
form{

	margin-top: 2px;
	padding-top: 1em;
}

fieldset{
	border: none;
	padding: 0;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top:1em; 
	padding-bottom:1em;
}

fieldset legend{
	font-size: 1.65em;
	font-weight: bold;
	padding-bottom: .75em;
}

.contact-info label{
	display: block;
	padding-bottom: .65em;
  font-size: 1.25em;
}

.newsletter label{
  font-size: 1.25em;
}

.contact-info input , select , textarea{
	box-shadow: 0 0 1px ;
	width: 100%;
	height: 3em;
	background-color: #fff;
	outline: none;
	border:none;
	border-radius: 5px;
	border-color: #fff;
	text-indent: 10px;
	transition: border-color .4s ease-in-out;
}

textarea{
	height: 85px;
	padding-top:10px;
}

.contact-info input:focus , select:focus , textarea:focus{
	border: 2px solid #46698B;
	border-radius: 0;
}

#name:focus,
#email:focus{
	border: 2px solid #FF7463;
}

[type="submit"]{
	position: relative;
	left: 18em;
	margin-top: 6em;
	width: 30%;
  background-color: #F2EFE9;
	height: 50px;
	border: none;
	border-radius: 5px;
	color: #444444;
  font-size: 1.25em;
}

[type="submit"]:hover{
  opacity: .8;
  cursor: pointer;
}

.newsletter [type="checkbox"]{
	transform: scale(1.4);
}

::placeholder{
	text-align: right;
	padding-right: 1em;
}


@media(min-width: 760px){

	.wrapper{
		max-width: 685px;
	}
	
	.info h3{
		font-size: 2.5em;
		letter-spacing: 1px;
	}

	.info p{
		font-size: 1.1em;
	}

	.contact-info label{
		display: inline-block;
		width: 20%;
	}

	.contact-info input , select{
		width: 78%;
	}

	.newsletter .checkboxes p{
		padding-top: 2px;
		padding-bottom: 2px;
	}
}

@media(min-width:1024px){

	.wrapper{
		width: 90%;
		max-width: 950px;
	}

	.contact-info label{
		display: inline-block;
		width: 26%;
	}

	.contact-info input , select{
		width: 72%;
	}

	.contact-info p , .newsletter p{
		margin-top: .5em;
		margin-bottom: .5em;
	}

	form{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
	}

	.container{
		display: flex; 
		flex-direction: column; 
		min-width: 340px;
		height: 500px;
		justify-content: space-around;
	}

	fieldset{
		margin-right: 0;
		margin-left: 0;
	}

	.contact-info{
		width: 55%;
	}

	.newsletter{
		width: 41%;
	}

	form{
		padding-top: 1em;
	}
}


@media screen and (max-width: 700px)  {
	.tickets-container {
grid-template-columns: 1fr;
	}

	.sponsor-container {
		grid-template-columns: 1fr;
		grid-gap: 1em;
		margin-left:2em;
		margin-top: 8em;
		align-items:center;
	  }
	
	  .sponsors-title {
		grid-column: span 1;
		font-size: 1em;
		text-align: center;
		margin-right: 0;
	  }
	
	  .sponsor-profile {
		width: 100%;
		text-align: center;
	  }
	
	  .sponsor-profile img {
		width: 50%;
		height: auto;
	  
	  }
	
	  .overlay {
		width: 100%;
		height: 100%;
		border-radius: 0;
	  }
	
	  .sponsor-profile:hover .overlay {
		opacity: 1;
	  }
}