body{
	margin: 0;
	padding: 0;
font-family: 'Rajdhani', sans-serif;
background-color:#252627;
color:#F2EFE9;
}

hr {
	width: 60vw;
	margin: 20px auto;
	display: block;
	color: #333; /* Color of the rule */
	background-color: #817983b5; /* Background color of the rule */
	height: 2px; /* Height or thickness of the rule */
	border: none; /* Remove any border */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

.tickets-container {
	display: grid;
    grid-template-columns: repeat(3, 1fr);
	margin: 7em;
	gap: 10px;
	text-align: left;
	font-size: 1.3em;
	align-items:start;
}

.content {
    background-color: #252627;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.9);
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 65vh;
    transition: transform 0.3s, box-shadow 0.3s; /* Add smooth transitions for transform and box-shadow */
}

.content:hover {
    transform: translateY(-5px); 
    box-shadow: 0px 0px 30px rgba(73, 73, 73, 0.9);
}


.buttons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
    text-align: center;
  }

.remote h1,
.basic h1,
.premium h1 {
  text-align: center; 
}

.remote h2,
.basic h2,
.premium h2 {
  text-align: center; 
}

.remote-btn,
.basic-btn,
.premium-btn {
color:#252627;
text-decoration: none;
  background-color: #F2EFE9;
  border: none;
  border-radius: 20px;
  height: 1em;
  padding: 1em;
  position: relative;
  font-size: 1em;
  box-shadow: 0px 0px 20px rgba(73, 73, 73, 0.9);
  width: 8em;
}

.remote-btn:hover,
.basic-btn:hover,
.premium-btn:hover {
  cursor: pointer;
  background-color: #252627;
  color: #F2EFE9;
  border: 2px solid #F2EFE9;
}

.tickets-container h1, .tickets-container h2 {
	text-align: center;
}

.remote-btn:hover, .basic-btn:hover, .premium-btn:hover{
	cursor: pointer;
	background-color:#252627;
	color:#F2EFE9;
	border:2px solid #F2EFE9;
}

.basic-btn{
	margin-top: 3.9em;
}

.premium-btn {
	margin-top: 1.3em;
}

.sponsor-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	margin-top: 0;
   margin-left: 10em;
   margin-bottom: 8em;
    color:#F2EFE9;

}

.sponsors-title {
    grid-column: span 3; 
    text-align: center; 
	font-size: 2em;
	margin-right:5em;
	
}

.overlay {
	width: 300px;
	height: 300px;
	border-radius: 10%;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: 0.5s ease;
	background-color: #2727279b;
}

.sponsor-profile {
position: relative;
}

.sponsor-profile img {
	width: 300px;
	height: 300px;
	object-fit: cover;
	border-radius: 10%;
	position: relative;
	box-shadow: 0px 0px 20px rgba(169, 169, 169, 0.9);
	filter: brightness(75%);
}

.sponsor-profile:hover .overlay {
	opacity: 1;
	cursor: pointer;
}

.social-name {
	color:#F2EFE9;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

:root {
   
    --background-color: #8c3fe2
	  background: var(--background-color);
	  --main-color:#947eaf;
      --second-color:#F2EFE9;
	  
}

#FormContainer {
font-family: 'Rajdhani', sans-serif;
    border-radius: 10px;
    box-shadow: 3px 3px 11px 1.5px #0000002b;
    padding: 0.5em;
    width: 965px;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    /* grid-teplate-columns: 50% 50%; */
	margin: 4em 17.5em 2em;
    color: var(--main-color);
    background-image: url(/IMG/4c8fe6e3-44eb-4882-877f-74ba49241ded.png);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

#FormContainer::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

h1 {
    padding: 20px;
    color: var(--main-color);
    font-size: 2.1rem;
    grid-column: 1/span 2;
}

.form-control {
	background-color: var(--second-color);
    backdrop-filter: blur(10px);
font-family: 'Rajdhani', sans-serif;
    border: 2px solid #ffffff6d;
    width: 365px;
    border-radius: 10px;
    box-shadow: 3px 3px 11px 1.5px #0000002b;
    padding: 10px;
    height: auto;
    color: var(--main-color);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
	width: 40vw;

}

.Name {
    display: grid;
    grid-template-columns: repeat(2, 50%);
	gap: 20px;

}

form label {
    font-size: 0.8rem;
    width: 100%;
    padding: 5px 15px;
    color: var(--main-color);
}

form input,
form select {
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: var(--second-color);
    outline: none;
    color: var(--main-color);
    margin-bottom: 10px;
}

form input:focus,
form select:focus,
form input:hover,
form select:hover {
    border: 1px solid var(--main-color);
}

form .Phone {
    display: grid;
    grid-template-columns: 35% 65%;
}

form select {
    width: 100%;
}


.radio {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;

}

.Name, .ticket {
    display: grid;
    grid-template-areas:
        "firstName lastName"
        "ticketVersion phone";
    gap: 20px;
    
}

.Name input {
    width: 100%;
}

.email input, .adress input{
    width: 100%;
}

form li {
    list-style-type: none;
    padding: 0;
    text-align: left;
	padding-right: 5px;
}

form label {
    font-size: 1em;
	padding-right: 5px;
    color: var(--main-color);
    grid-area: firstName; 
}

form .ticket input {
    padding: 10px; 
    border-radius: 8px;
    border: none;
    background-color: var(--second-color);
    width: 100%; 
    outline: none;
    color: var(--main-color);
    margin-bottom: 10px;
    grid-area: phone; 
}


form button {
    width: fit-content;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1.1rem;
    color: var(--second-color);
    background-color: var(--main-color);
    border: none;
    margin: 2em;
    position: relative;
    top: 3em;
    right: 9em;
}

form button:hover {
    cursor: pointer;
    background-color: var(--second-color);
    color:#252627;
}

form input:invalid, form select:invalid, form textarea:invalid, form select[required], form input[required] {
    border: 1px solid red;
}

form input:valid, form select:valid, form textarea:valid, form select[required]:valid, form input[required]:valid {
    border: 1px solid var(--main-color);
}

@media screen and (max-width: 1200px)  {
	.tickets-container {
grid-template-columns: 1fr;
margin: 2em auto;
	}

	.content {
		grid-column: 1/ span 2;
	}
	.sponsor-container {
		grid-template-columns: 1fr;
		grid-gap: 1em;
		margin: 0 auto;
		align-items:center;
	  }
	
	  .sponsors-title {
		grid-column: span 1;
		font-size: 1em;
		text-align: center;
		margin: 0;
		padding: 0;
	  }
	
	  .sponsor-profile {
		width: 100%;
		text-align: center;
	  }
	
	  .sponsor-profile img {
		width: 50%;
		height: auto;
	  
	  }
	
	  .overlay {
		width: 100%;
		height: 100%;
		border-radius: 0;
	  }
	
	  .sponsor-profile:hover .overlay {
		opacity: 1;
	  }

	  #FormContainer {
       display: grid;
	   grid-template-columns: 1fr;
	   margin: 0 auto;
       width: 400px;
       height: 180vh;
    }

    .Name,
    .ticket{
        display: block;
    }

    form button {
        position: relative;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
}